/* :root{
    --mustardyellow: #ffb237;
    --greyBorder: #383241;
    --backgroundDarkGrey: #27262c;
    --purpleTweet: #b8add2;
    --communityInactiveButton: rgba(122, 110, 170, 0.7);
    --communityActiveButton: #7745d8;
    --bg-light-blue: #72b8f2;
    --bg-lightest-blue: #99b8c8;
}

/* // #root {
//   margin: 0;
//   width: 100vw;
// } */

/* .exchangeStatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 100px;
  background-color: black;
  gap: 10px;
}

.exsElement{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.exsContainer{
  display: flex;
  flex-direction: row;
  gap: 40px;
} */

/* // ----------- */

:root {
    --mustardyellow: #ffb237;
    --greyBorder: #383241;
    --backgroundDarkGrey: #27262c;
    --purpleTweet: #b8add2;
    --communityInactiveButton: rgba(122, 110, 170, 0.7);
    --communityActiveButton: #7745d8;
    --bg-light-blue: #72b8f2;
    --bg-lightest-blue: #99b8c8;
}

#root {
    margin: 0;
    width: 100vw;
}

.exchange-stats2 {
    width: 100%;
}

.exchange-stats2-title.light-theme {
    background-color: #faf9fa;
}

.exchange-stats2-title.dark-theme {
    background-color: #08060b;
}

#community-triangle.dark-theme {
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(01deg, transparent, #0b4574, black);
}

#community-triangle.light-theme {
    width: 100%;
    height: 60px;
    background: linear-gradient(
        1deg,
        transparent,
        var(--bg-light-blue),
        var(--btn-light-text)
    );
    position: relative;
    bottom: -30px;
}

.exchange-stats2.light-theme {
    background-color: #faf9fa;
}

.exchange-stats2.dark-theme {
    background-color: black;
}

.exchange-container.light-theme {
    background-color: #faf9fa;
}

.exchange-container.dark-theme {
    background-color: black;
}

#exchange-figures,
.exchange-counters {
    font-weight: bold;
}

.exchange-figures.light-theme {
    color: #7745d8;
}

.exchange-figures.dark-theme {
    color: #9779e3;
}

.exchange-info-container::after {
    content: "|";
    font-size: 6rem;
    font-weight: lighter;
    align-items: center;
    display: flex;
    margin: 0 20px;
    color: lightgray;
}

.exchange-titles {
    font-weight: bold;
    margin-bottom: 0;
    color: black;
    font-size: 1.4rem;
    white-space: nowrap;
}

.exchange-counters.light-theme {
    font-size: 1.7rem;
    margin: 0;
    white-space: nowrap;
    color: #7745d8;
}

.exchange-counters.dark-theme {
    font-size: 1.7rem;
    margin: 0;
    white-space: nowrap;
    color: #9779e3;
}

.exchange-cake.light-theme {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #250f5b;
}

.exchange-cake.dark-theme {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.exchange-stats2.dark-theme h2 {
    color: white;
}

.exchange-stats2.light-theme h2 {
    color: black;
}

.exchange-titles.light-theme {
    font-weight: bold;
    margin-bottom: 0;
    color: black;
}

.exchange-titles.dark-theme {
    font-weight: bold;
    margin-bottom: 0;
    color: white;
}

.exchange-statistics-container.dark-theme h3 {
    font-weight: bold;
    margin-bottom: 0;
    color: azure;
}

.exchange-stats2-title {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.exchange-stats2-title span {
    padding: 0 5px;
}

.exchange-statistics-container {
    display: flex;
    justify-content: center;
    padding: 0 10px 50px 10px;
}

.exchange-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    min-width: 200px;
}

@media (max-width: 1199px) {
    .exchange-info-container {
        min-width: 200px;
    }

    .exchange-statistics-container {
        flex-wrap: wrap;
        padding: 10px 20px;
    }
}

@media (max-width: 683px) {
    .exchange-info-container::after {
        display: none;
    }

    .exchange-statistics-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 0px;
        padding: 20px 50px;
        justify-items: center;
    }

    .exchange-counters {
        font-size: 1.3rem;
    }
}
